[Desktop Entry]
Name=Space Connect
Comment=Access your SpaceCloud gaming PC
Exec=spaceconnect
Icon=spaceconnect_icon_256
Terminal=false
Type=Application
Categories=Qt;Game;
Keywords=spacecloud;gamestream;stream;sunshine;remote play;
